{% load staticfiles %}
{% load nodefs_tree %}

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <link href="{% static "controle/css/reset.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "controle/css/style.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "controle/css/jquery-ui.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "controle/css/modalbox.css" %}" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="{% static "controle/js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "controle/js/jquery-ui.js" %}"></script>
        <script type="text/javascript" src="{% static "controle/js/jquery.cookie.js" %}"></script>
        <script type="text/javascript" src="{% static "controle/js/clear-form.js" %}"></script>
        <script type="text/javascript" src="{% static "controle/js/modalbox.js" %}"></script>
        <script type="text/javascript" src="{% static "controle/js/jquery.pjax.js" %}"></script>
        <script type="text/javascript" src="{% static "controle/js/main.js" %}"></script>

        {% block head %}{% endblock %}
    </head>

    <body>

        <div id="modal-box-container" style="display:none">
            <div id="modal-box"></div>
        </div>

        <section id="left-panel">
        <h1 class="page-title">Contas</h1>
        {% block left_panel %}
            {% render_nodefs_tree %}
        {% endblock %}
        </section>

        <section id="content">
        <div data-pjax-container id="base-content-pjax-container">
            {% block content %}{% endblock %}
        </div>
        </section>

    </body>
</html>

