{% extends base_template %}

{% load staticfiles %}

{% block left_panel %}
    <div class="controle-tree-menu">
        <a href="{% url "controle.views.novo" %}" class="openonmodalbox"><img src="{% static 'controle/img/cc/black/png/doc_new_icon&16.png' %}" /></a>
        <img src="{% static 'controle/img/collapse-tree.png' %}" data-tree-collapse-button="true" />
        <img src="{% static 'controle/img/expand-tree.png' %}" data-tree-expand-button="true" />
    </div>
    {{ block.super }}
{% endblock %}

{% block content %}
    {% include "controle/list.html" %}
{% endblock %}
