{% extends "controle/base.html" %}

{% block panel_title %}
Lista de controle de contas
{% endblock %}

{% block actions %}
<a href="{% url controle.views.novo %}">Novo</a>
{% endblock %}

{% block content %}
    <table>
      {% for controle in controles %}
        <tr>
            <td style="padding: 5px">{{ controle.mes }}/{{ controle.ano }}</td>

            <td>
              <a href="{% url controle.views.editar mes=controle.mes ano=controle.ano %}">editar</a>
            </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
