{% load staticfiles %}

{% block head %}
<script>
    $(window).ready(function() {
        $(".datepicker").datepicker({dateFormat: 'dd/mm/yy'});

        $(".nova-conta").on('click', function() {
            $("#form-nova-conta").show();
            $(this).hide();
            return false;
        });

        $(".cancelar-nova-conta").on('click', function() {
            $("#form-nova-conta").hide().clearForm();
            $(".nova-conta:hidden").show();
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="topic">
    <h1 class="page-title">de <strong>{{ controle.data|date:"E"|lower }}</strong> de <strong>{{ controle.ano }}</strong><h1>

    <div class="action-items">
        <a href="" class="nova-conta"><img src="{% static 'controle/img/cc/black/png/doc_plus_icon&16.png' %}" />adicionar</a>
        {% include "controle/contas_form.html" %}
    </div>
</div>

<ul class="account-list">
{% for conta in contas %}
    <li class="account">
        <strong class="account-name" name="account_label">
            {{ conta.nome }}
            <span>R$ {{ conta.valor }}</span>
        </strong>

        <a href="{% url controle.views.novo %}" class="remove-account openonmodalbox"></a>

        {% if conta.arquivo %}
        <a class="download-account" href="{{ conta.arquivo.url }}" target="_blank"></a>
        {% else %}
        <a class="upload-account openonmodalbox"
            href='{% url controle.views.upload_conta ano=controle.ano mes=controle.mes nome=conta.nome %}'
        ></a>
        {% endif %}

        {% if conta.pago %}
        <input type="button" name="remove-account" class="status-and-action" value="
            Pago
            {% with conta.data_pagamento as dp %}
            {% if conta.foi_pago_com_atraso %}com atraso{% endif %}
            {% if conta.foi_pago_este_mes %}dia {{ dp|date:'d' }}{% else %}em {{ dp|date:'d/m/Y' }}{% endif %}
            {% endwith %}
        " />
        {% else %}

        <input type="button" name="status_and_action" class="status-and-action" value="Registrar pagamento"
            href='{% url controle.views.registrar_pagamento ano=controle.ano mes=controle.mes nome=conta.nome %}'
        />

        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
