{% load staticfiles %}

{% include "controle/panel.html" %}
{% include "controle/contas_form.html" %}

{% block head %}
<script>
    $(window).ready(function() {
        $(".datepicker").datepicker({dateFormat: 'dd/mm/yy'});

        $(".nova-conta").on('click', function() {
            $("#form-nova-conta").show();
            $(this).hide();
            return false;
        });

        $(".cancelar-nova-conta").on('click', function() {
            $("#form-nova-conta").hide().clearForm();
            $(".nova-conta:hidden").show();
            return false;
        });
    });
</script>
{% endblock %}

<div class="action-items">
    <ul>
        <li>
            <a href="" class="nova-conta"><img src="{% static 'controle/img/cc/black/png/doc_plus_icon&16.png' %}" />adicionar</a>
        </li>

        <!--<li>-->
            <!--<ul class="list-select-order">-->
                <!--<li>-->
                    <!--<a href="#order-by-account-label">Ordem alfabética</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="#order-by-priority">Por prioridade</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>

    {% include "controle/contas_form.html" %}
</div>

<ul>
{% for conta in contas %}
    <li class="account">
        <strong class="account-name" name="account_label">
            {{ conta.nome }}
            <span>R$ {{ conta.valor }}</span>
        </strong>

        <a href="{% url controle.views.novo %}" class="openonmodalbox"><img src="{% static 'controle/img/cc/black/png/trash_icon&16.png' %}" /></a>

        {% if conta.arquivo %}
        <a class="download-account" href="{{ conta.arquivo.url }}" target="_blank"></a>
        {% else %}
        <a class="upload-account openonmodalbox"
            href='{% url controle.views.upload_conta ano=controle.ano mes=controle.mes nome=conta.nome %}'
        ></a>
        {% endif %}

        {% if conta.pago %}
        <input type="button" name="status_and_action" class="status-and-action" value="
            {% if conta.foi_pago_este_mes %}
            Pago dia {{ conta.data_pagamento|date:"d" }}"
            {% else %}
            Pago {% if conta.foi_pago_com_atraso %}com atraso{% endif %} em {{ conta.data_pagamento|date:"d/m/Y" }}"
            {% endif %}
        />
        {% else %}

        <input type="button" name="status_and_action" class="status-and-action" value="Registrar pagamento"
            href='{% url controle.views.registrar_pagamento ano=controle.ano mes=controle.mes nome=conta.nome %}'
        />

        {% endif %}
    </li>
{% endfor %}
</ul>

