@font-face {
    font-family: "minyanouvellerg";
    src: url(../fonts/minyanouvellerg.ttf) format(truetype);
}

@font-face {
    font-family: "SimplyChalky";
    src: url(../fonts/SimplyChalky.ttf) format(truetype);
}

@font-face {
    font-family: "BlackBoard";
    src: url(../fonts/BlackBoard.ttf) format(truetype);
}

body {
    font-family: "minyanouvellerg", Arial, sans;
    font-size: 16px;
    padding: 20px;
    margin: 0;
    background-color: #fdfdfd;
    color: #333;
}

h1.page-title {
    /*font-family: "BlackBoard";*/
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #444;
}

a {
    color: #333;
}

input[type=button], button {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

    border-radius: 3px;
    cursor: pointer;
    white-space: normal;
}

#panel {
    color: #333;
    font-family: "minyanouvellerg", sans-serif;
    margin-bottom: 30px;
}

#left-panel {
    position: fixed;
    top: 150px;
    left: 0;
    bottom: 0;
    margin-left: 30px;
    width: 212px;
}

section {
    margin-left: 220px;
}

.topic {
    color: #E6E6E6;
    background-color: #444;
    width: 525px;
    margin-bottom: 20px;
    padding: 5px;
    padding-top: 7px;
    border-radius: 3px;
    font-weight: bold;
}

.action-items ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.action-items a {
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
}

.action-items a:hover {
    color: #000;
}

.action-items > ul li {
    margin-bottom: 10px;
}

/* Sub menu */
.action-items > ul li ul {
    display: inline-block;
}

.action-items > ul li li {
    display: none;
    margin-right: 10px;
}

.action-items > ul li:hover li {
    display: inline;
}

.action-items > ul li:hover ul {
    box-shadow: 2px 2px 3px #666;
}

.action-items > ul li li:first-child {
    display: inline;
}

/* account */

.account {
    width: 545px;
    vertical-align: middle;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    opacity: 0.9;
}

.account:hover {
    opacity: 1;
}

.account:last-child {
    border-bottom: none;
}

.account .account-name {
    width: 295px;
    display: inline-block;
}

.status-and-action,
.download-account,
.upload-account
{
    background-color: #333;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal;
}

a.status-and-action,
a.download-account,
a.upload-account
{
}

.status-and-action {
    padding-top: 6px;
    margin-right: 5px;
    padding-bottom: 4px;
    padding-right: 26px;
    width: 200px;
    text-align: left;
}

.download-account,
.upload-account
{
    width: 33px;

    padding-right: 23px;
    padding-top: 2px;
    padding-bottom: 0;
    margin-right: 0;

    background-color: transparent;
    background-repeat: no-repeat;
}

.download-account {
    background-image: url(../img/cc/black/png/download_icon&16.png);
}

.upload-account {
    background-image: url(../img/cc/black/png/save_icon&16.png);
}

/* Form */
.errorlist {
    color: red;
    font-size: 10px;
    margin-top: 10px;
}

input[type=text], select {
    min-width: 200px;
}

input[type=text] {
    border: 1px solid #444;
}

label {
    float: left;
    width: 140px;
}

form {
    margin-bottom: 30px;
}


/* Tree */
.nodefs {
    position: absolute;
    margin: auto auto;
    height: 90%;
    width: 90%;
    overflow: auto;
}

.nodefs .tree {
    margin-top: 5px;
    margin-bottom: 10px;
}


.nodefs .tree .node.selected > .label {
    font-weight: bold;
}

.nodefs .tree .node.selected > .label a {
    text-decoration: none;
    cursor: default;
}

.nodefs .tree .node {
    margin-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;

   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   behavior: url(ieUserSelectFix.htc);
}

.nodefs .tree .node a:active {
    color: #666;
}

.nodefs .tree .node a {
    padding-right: 15px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.nodefs .tree .tree {
    border-left: 1px dashed #444;
}

.nodefs .tree .node .toggler {
    background-repeat: no-repeat;
    background-position-x: right;
    padding-left: 15px;
}

.nodefs .tree .node.open .toggler {
    background-image: url(../img/open_arrow.png);
}

.nodefs .tree .node.closed .toggler {
    background-image: url(../img/closed_arrow.png);
    background-position-y: 2px;
}

.nodefs .tree .node.closed > .tree {
    display: none;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #f6f6f6;
}

::-webkit-scrollbar-thumb {
    background: #444;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

