@font-face {
    font-family: "minyanouvellerg";
    src: url(../fonts/minyanouvellerg.ttf) format(truetype);
}

@font-face {
    font-family: "SimplyChalky";
    src: url(../fonts/SimplyChalky.ttf) format(truetype);
}

@font-face {
    font-family: "BlackBoard";
    src: url(../fonts/BlackBoard.ttf) format(truetype);
}

body {
    font-family: "minyanouvellerg", Arial, sans;
    font-size: 16px;
    padding: 20px;
    margin: 0;
    background-color: #e6e6e6;
    color: #333;
}

h1.page-title {
    /*font-family: "BlackBoard";*/
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #444;
}

a {
    color: #333;
}

#panel {
    color: #333;
    font-family: "minyanouvellerg", sans-serif;
    margin-bottom: 30px;
}

.topic {
    color: #E6E6E6;
    background-color: #444;
    width: 525px;
    margin-bottom: 20px;
    padding: 5px;
    padding-top: 7px;
    border-radius: 3px;
    font-weight: bold;
}

.action-items ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.action-items a {
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
}

.action-items a:hover {
    color: #000;
}

.action-items > ul li {
    margin-bottom: 10px;
}

/* Sub menu */
.action-items > ul li ul {
    display: inline-block;
}

.action-items > ul li li {
    display: none;
    margin-right: 10px;
}

.action-items > ul li:hover li {
    display: inline;
}

.action-items > ul li:hover ul {
    box-shadow: 2px 2px 3px #666;
}

.action-items > ul li li:first-child {
    display: inline;
}

/* account */

.account {
    width: 545px;
    vertical-align: middle;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    opacity: 0.9;
}

.account:hover {
    opacity: 1;
}

.account:last-child {
    border-bottom: none;
}

.account .account-name {
    width: 295px;
    display: inline-block;
}

.status-and-action,
.download-account,
.upload-account
{
    background-color: #333;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    white-space: normal;
}

a.status-and-action,
a.download-account,
a.upload-account
{
    padding-top: 6px;
    padding-right: 26px;
    padding-bottom: 4px;
    margin-right: 5px;
}

.status-and-action {
    width: 200px;
    text-align: left;
}

.download-account,
.upload-account
{
    width: 33px;
}

.download-account {
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-position-y: -2px;
}

.upload-account {
    background-image: url(../img/upload.png);
    background-repeat: no-repeat;
}

/* Form */
.errorlist {
    color: red;
    font-size: 10px;
    margin-top: 10px;
}

input[type=text], select {
    min-width: 200px;
}

input[type=text] {
    border: 1px solid #444;
}

label {
    float: left;
    width: 140px;
}

form {
    margin-bottom: 20px;
}
